
.about{
    
    width: 75%;
    background: white;
    text-align: left;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 80px 40px;
    position: relative;
    margin-bottom: 15px;

}
.who{
    position: absolute;
    top: 1rem;
    left: 15rem;
    padding: 0px 40px;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;


}
.text{
    letter-spacing: .2rem;
    font-family: 'Pacifico', cursive;
    color: rgb(61, 61, 61);
    font-size:x-large;
    padding: 0px 40px;
}
