.brand{
    margin: 5rem 0rem;
    width: 100%;
    background: #090c31;
    display: flex;
    justify-content: end;
}
.secbrand{
    width: 75%;
    background: rgb(77, 77, 239);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.brandhead > h1{
    margin-top: 2rem;
    padding: 0;
    color: white;
    font-size: xx-large;

}
.brandhead > div{
    height: 2px;
    width: 100px;
    background: white;    
    margin: 2px 0px;

} 



@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 15px;
    }
}


.blogo{
    flex-wrap: wrap;
    margin: 1rem 0rem;
    padding: 2rem; 
    /* height: 15rem; */
    width: 100%;
    display: flex;
    transition: all 2s ease-in;

}

.move1{
    animation: MoveUpDown 1.8s linear infinite;
    position: relative;
    transition: all 1s ;
    
}

.move2{
    animation: MoveUpDown 2.2s linear infinite;
    position: relative;
    
    transition: all 1s ;
    
}

.move3{
    animation: MoveUpDown 1.8s linear infinite;
    position: relative;
    
    transition: all 1s ;
    
}
.move4{
    animation: MoveUpDown 2s linear infinite;
    position: relative;
    
    transition: all 1s ;
  
}


.blogo>div:hover{
    background-color: black;    
    }   

.blogo>div:hover .mimg {
    color: white;    
    }   

.blogo>div:hover p {
    color: white;    
    }   

.blogo >div{
    background-color: white;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    margin: 10px 10px;
}
.mimg{
    font-size: 2.5rem;
}
.blogo >div>p{
    margin-top: 1rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: bold;
    
}
